@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Unbounded', cursive;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .65), rgba(0, 0, 0, 0));
}

.logo>img {
    width: 4rem;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.25));
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.25));
    -moz-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.25));
}

.menuTest {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: 998;
    transform: translate(-100%, 0%);
    transition: 500ms;
    transition-timing-function: cubic-bezier(.17,.67,.45,1);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.menuLinkWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 20%;
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.menuLink {
    font-size: .75rem;
    padding: .5rem;
    box-sizing: border-box;
    width: max-content;
    height: fit-content;
    color: darkgray;
}

.menuLinkActive {
    color: white;
    font-size: 1rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
}

.heroImg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    border-radius: 0px;
    background-image: url("../img/heroImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 75vh;
    padding: 1rem;
}

@keyframes heroAnim {
    0% {
        width: 100%;
        border-radius: 0px;
    }

    100% {
        width: 90%;
        border-radius: 10px;
    }
}

.heroHeading {
    color: white;
    font-size: 2rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.heroSubheading {
    color: lightgray;
    font-size: .5rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.gimmickWrapper {
    overflow-x: hidden;
    position: relative;
    z-index: -9;
    overflow: hidden;
}

.gimmick {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    font-size: .75rem;
    transform: rotate(5deg) translateY(0%);
}

.gimmickRow {
    display: flex;
    flex-direction: row;
    /* animation: gimmickAnim 3s linear infinite; */
}

.gimmickRow:nth-child(1) {
    animation: gimmickAnim 7.2s ease-in infinite;
}

.gimmickRow:nth-child(2) {
    margin-left: 10%;
    animation: gimmickAnim 6.2s ease-in infinite;
}

.gimmickRow:nth-child(3) {
    animation: gimmickAnim 8.6s ease-in infinite;
}

@keyframes gimmickAnim {
    10% {
        transform: translateX(0%);
    }

    85% {
        transform: translateX(-100%);
    }

    93.499% {
        transform: translateX(-100%);
        filter: blur(0px);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
    }

    93.5% {
        transform: translateX(-115%);
        filter: blur(20px);
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
    }

    95% {
        transform: translateX(-85%);
    }

    96.5% {
        transform: translateX(-100%);
    }

    98% {
        transform: translateX(-115%);
    }

    99% {
        transform: translateX(-85%);
    }

    99.99% {
        transform: translateX(-100%);
        filter: blur(20px);
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
    }

    100% {
        transform: translateX(0%);
    }
}

.gimmickChip {
    display: flex;
    border: 1px solid white;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    margin: .5rem 1rem;
    min-width: max-content;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    overflow: hidden;
    margin: 1rem;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) {
    --glitch-translate: 8px;
}

.stack span:nth-child(even) {
    --glitch-translate: -8px;
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    ;

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    4%,
    100% {
        text-shadow: none;
        transform: none;
    }
}

.productCard {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    color: white;
    /* background-color: lightblue; */
}

.productImg {
    width: 100%;
}

.testul {
    list-style: none;
    /* background-color: pink; */
    height: 4.25rem;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 2rem 0rem;
}

.testli {
    font-size: 2rem;
}

.testli:nth-child(1) {
    color: transparent;
}

.testli:nth-child(2) {
    color: white;
}

.price {
    color: lightgray;
}

.viewMoreWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 0 2rem 0;
}

.viewMoreWrapper>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrowBox {
    border: 1px solid white;
    border-radius: 15px;
    height: max-content;
    width: max-content;
    padding: 1rem;
}

.viewMoreText {
    font-size: .75rem;
    color: white;
    margin: 1rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    /* background-color: pink */
}

.sectionHeading {
    font-size: 2rem;
    color: white;
}

.sectionSubheading {
    font-size: .75rem;
    margin: .25rem 0rem;
    color: lightgray;
}

.inputField {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.emailDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 5rem;
    margin: 2rem .5rem;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
}

.emailDiv>input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1.25rem;
    padding: 0rem 2rem;
}

.emailDiv>input::placeholder {
    font-size: .9rem;
}

.emailBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    width: 20%;
    height: 5rem;
}












.productHolderWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.productHolder {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 1rem;
    padding: 1rem;
}

.productName {
    margin: 1rem 0rem;
    color: white;
}

.cartProductFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productDisplayPrice {
    font-weight: 300;
    color: lightgray;
}

.productDisplaySizeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: .15rem;
}

.productDisplaySize {
    color: black;
    font-size: .5rem;
    font-weight: 700;
}

.productDelBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    background-color: #1e1e1e;
    color: lightgray;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    margin: 1rem 0rem;
}


















.sectionDetailed {
    margin: 1rem 0;
}

.sectionAlt {
    margin: 3rem 0 1rem 0;
}















.content {
    padding: 1rem;
}

.prodImgWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
    padding: 0rem;
}

.prodImg {
    width: 80%;
    margin: 1rem;
}

.carouselSliderWrapperN {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carouselSliderWrapper {
    display: flex;
    align-items: center;
    height: .25rem;
    width: 25%;
    background-color: #212121;
    border-radius: 50px;
}

.carouselSlider {
    display: block;
    width: 20%;
    height: 100%;
    background-color: white;
    position: relative;
    left: 0%;
}

.descRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    margin: 1rem 0rem;
}

.icon {
    min-width: 2rem;
    max-width: 2rem;
    margin: 0 .5rem;
}

.sectionSubDetail {
    margin: 0 .5rem;
}














.addedWrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    width: 90%;
    margin: 0rem 5%;
    position: fixed;
    z-index: 9;
    padding: 1rem 0rem 0rem 0rem;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    -moz-backdrop-filter: blur(30px);
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-150%);
    transition: 500ms ease;
}

.addedWrapperAnim {
    animation: addedWrapperAnim 6s ease-in-out forwards;
}

@keyframes addedWrapperAnim {
    0% {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-150%);
    }

    10% {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0%);
    }

    90% {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-150%);
    }
}

.addedHeading {
    font-weight: 500;
    margin: 0rem 1rem;
}

.addedSubHeading {
    font-weight: 300;
    font-size: .75rem;
    margin: .5rem 1rem 1rem 1rem;
    color: gray;
}

.addedTimer {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: white;
}

.addedAnim {
    animation: addedAnim 6s ease-in-out forwards;
}

@keyframes addedAnim {
    0% {
        width: 100%;
    }

    90% {
        width: 0%;
    }

    100% {
        width: 0%;
    }
}

.buyWindow {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.75);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    padding: 1rem;
}

.buyElement {
    margin: .25rem 0rem;
}

.sizeSelectContainer {
    overflow: scroll;
    width: calc(100vw - 2rem);
    display: flex;
    flex-direction: row;
}

.sizeSelectLi {
    margin: 0rem .5rem;
    opacity: 0.5;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 500ms ease;
}

.swipeContainer {
    display: flex;
    height: 4rem;
    width: 100%;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 1rem 0rem;
    padding: 0rem .25rem;
    box-sizing: border-box;
    border-radius: 10px;
}

.swipeInstruction {
    color: black;
    opacity: .5;
    margin: 0 0 0 50%;
    transform: translateX(-50%);
    position: absolute;
    align-self: center;
    font-size: .75rem;
}













#confirm {
    appearance: none !important;
    background: transparent;
    height: 100%;
    margin: 0;
    width: 100%;
    position: inherit;
    z-index: 5;
}

#confirm::-webkit-slider-thumb {
    appearance: none !important;
    height: 3.5rem;
    width: 5rem;
    border: 1px solid white;
    border-radius: 9px;
    cursor: e-resize;
    background: no-repeat center center;
    /* background-image: url(data:image/gif;base64,R0lGODlhIAAXAJEDAD1740KC7Ttx0////yH5BAEAAAMALAAAAAAgABcAAAJInI9poO0/hAiwOjmtPliwbXUeWIkSRTam9CHrC7NJTK9oVOfYp/ejDwzWAkKaofhqIU2tFG7lnDGj0k6T+pRgFbstd+SdXR0FADs=), linear-gradient(top, #4D90FE, #4787ED); */
    background-color: white;
}

#confirm:hover::-webkit-slider-thumb {
    border-color: white;

}












.billerWrapper, .billerWrapperN {
    display: flex;
    flex-direction: column;
    padding: 0rem .5rem;
    margin: 3.5rem 1rem;
    border-radius: 10px;
}

.billerWrapper > hr, .billerWrapperN > hr {
    margin: 1rem 0rem;
    background-color: grey;
    border: 1px solid grey;
}

.billerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: .75rem;
}

.billerRowExtra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: .75rem;
}

.billerRowExtraN {
    color: gray;
    font-size: .75rem;
}

.couponWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem 1rem 1rem;
    padding: .25rem 1rem;
    border-radius: 10px;
}

.couponWrapper > .heroHeading {
    color: gray;
    font-size: 1.25rem;
}

.couponInp {
    background-color: transparent;
    color: white;
    height: 1.5rem;
    width: 100%;
    border: none;
    padding: 1rem;
}

.checkoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 1rem 5rem 1rem;
    padding: 1.25rem 0rem;
    width: calc(100% - 2rem);
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 500;
    position: sticky;
    bottom: 2rem;
}



















.cartEmptyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.tumbleweedWrapper {
    width: 30%;
    overflow: hidden;
    animation: tumbleWrapAnim 5s linear infinite;
}

@keyframes tumbleWrapAnim {
    0% {
        transform: translateX(250%);
    }

    80% {
        transform: translateX(-250%);
    }

    100% {
        transform: translateX(-250%);
    }
}

.tumbleweed {
    width: 100%;
    margin: 2rem 0rem;
    animation: tumbleAnim 3s linear infinite;
}

@keyframes tumbleAnim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.cartPara {
    font-size: 1rem;
    margin: 1rem 0rem 0rem 0rem;
    color: rgb(123, 123, 123);
}

.goShoppingBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    width: 80%;
    height: 4rem;
    margin: 2rem 10%;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 1rem;
}























.formWrapper {
    display: flex;
    padding: 1rem;
}

.checkoutForm {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkoutForm > .stack {
    margin: 0rem 0rem 1rem 0rem;
}

.checkoutForm > .stackN {
    margin: 5rem 0rem 1rem 0rem;
}

.checkoutForm > .stack > span {
    font-size: 2rem;
}

.checkoutForm > .fieldFull > input {
    width: 100%;
    padding: 2rem 1rem 1.5rem 1rem;
    margin: .25rem 0rem;
    box-sizing: border-box;
}

.checkoutForm > .fieldHalf > input {
    padding: 2rem 1rem 1.5rem 1rem;
    margin: .25rem 0rem;
    box-sizing: border-box;
}

.checkoutForm > .fieldHalf > p {
    padding: 1.5rem 1rem 2rem 1rem;
    margin: .25rem 10px .25rem 0rem;
    box-sizing: border-box;
}

.fieldWrapper {
    border-bottom: 1px solid white;
}

.checkoutForm > div > .couponInp {
    font-size: .75rem;
}

.fieldHalf {
    display: flex;
    flex-direction: row;
}

.couponInpPara {
    width: 20%;
    margin: 1rem;
}

.checkoutForm > .checkoutBtn {
    width: 100%;
    margin: 2rem 0rem;
}















.swipeConfirm {
    width: calc(100% - 2rem);
    margin: 1rem;
    position: sticky;
    bottom: 2rem;
    background-color: rgba(22, 22, 22, 0.5);
    backdrop-filter: blur(30px);
    border: 2px solid white;
}

.confirmWrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
}

.confirmPlacement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    width: 100%;
}

.orderConfirmedPara {
    color: gray;
    margin: .5rem 2rem;
    font-size: .75rem;
    text-align: center;
}

.confirmPlacement > hr {
    height: 1px;
    width: 100%;
    margin: 1rem;
    background: white;
}





























.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    font-size: .5rem;
}

.footerText {
    margin: .15rem;
}








.preloaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}

.preloader {
    display: flex;
    justify-content: flex-start;
    min-width: 30%;
    height: 2.5px;
    border-radius: 50px;
    background-color: gray;
    animation: preloader 3s ease-in-out infinite;
}

@keyframes preloader {
    0% {
        justify-content: flex-start;
    }
    49.99% {
        justify-content: flex-start;
    }
    50% {
        justify-content: flex-end;
    }
    100% {
        justify-content: flex-end;
    }
}

.pre {
    display: flex;
    height: 100%;
    width: 0%;
    background-color: white;
    border-radius: 50px;
    animation: prel 3s ease-in-out infinite;
}

@keyframes prel {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}